/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */


@import "compass/css3";

.flexbox1{
@include display-flex;
@include flex-direction(row);
background-color: green;
    .navbar{
        background-color: blue;
        @include justify-content(space-between);
    }
    
}
.flexbox2{
@include display-flex;
@include flex-direction(row);
@include justify-content(space-around);
background-color: lightgreen;

    .centercontent{
        border: 2px solid white;
        @include flex-direction(column);
        .centercontent1{
            background-color:black;
        }
        .centercontent2{
            background-color:black;
        }
        .centercontent3{
            background-color: black;
        }
    }
    .rightcontent{
        @include justify-content(flex-end);
    }
}


.flex-container{
    @include display-flex;
    @include justify-content(space-around);
    padding: 4px;
    background-color: lightgreen;
    .flex-item{
        width: 100px;
        height:100px;
        background-color: tomato;
    }
}

.flex-content{
    @include display-flex;
    @include justify-content(center);
    
    background-color: gray;
    .content-item{
        margin: 5px;
        width: 100px;
        height: 100px;
        background-color: black;
    }
    .content-itemmid{
        margin: 5px;
        width: 100px;
        height: 100px;
        background-color: black;
        .miditems{
            @include flex-direction(column);
            width: 100px;
            height: 100px;
            background-color: white;
        }
    }
}