/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 9, ../sass/index.scss */
.flexbox1 {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  background-color: green;
}
/* line 13, ../sass/index.scss */
.flexbox1 .navbar {
  background-color: blue;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

/* line 19, ../sass/index.scss */
.flexbox2 {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  background-color: lightgreen;
}
/* line 25, ../sass/index.scss */
.flexbox2 .centercontent {
  border: 2px solid white;
  -webkit-flex-direction: column;
  flex-direction: column;
}
/* line 28, ../sass/index.scss */
.flexbox2 .centercontent .centercontent1 {
  background-color: black;
}
/* line 31, ../sass/index.scss */
.flexbox2 .centercontent .centercontent2 {
  background-color: black;
}
/* line 34, ../sass/index.scss */
.flexbox2 .centercontent .centercontent3 {
  background-color: black;
}
/* line 38, ../sass/index.scss */
.flexbox2 .rightcontent {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

/* line 44, ../sass/index.scss */
.flex-container {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 4px;
  background-color: lightgreen;
}
/* line 49, ../sass/index.scss */
.flex-container .flex-item {
  width: 100px;
  height: 100px;
  background-color: tomato;
}
